.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #f58b49;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
}

@keyframes fade-slide {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-slide {
  animation: fade-slide 0.3s ease-out;
}
