.nav-link {
  @apply text-white text-sm font-medium hover:text-[#f58b49] transition duration-300;
}

.active-link {
  @apply bg-[#f58b49] text-white px-4 py-2 rounded-full font-semibold;
}

nav {
  transition: all 0.3s ease;
}

a {
  cursor: pointer;
}

.menu-item {
  width: 100%;
  text-align: left;
  padding: 10px 16px;
  color: #d1d1d1;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.menu-item:hover {
  background: #2a2a2a;
  color: #fff;
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


