.input-field {
  @apply w-full bg-[#1a1a1a] border border-[#2b2b2b] rounded-xl px-4 py-3 text-gray-200 
  focus:outline-none focus:border-[#f58b49] focus:ring-1 focus:ring-[#f58b49] 
  transition-all duration-300 placeholder-gray-500;
}

.social-btn {
  @apply w-10 h-10 rounded-full bg-[#f58b49]/10 flex items-center justify-center 
         hover:bg-[#f58b49] transition-all duration-300;
}


.submit-btn {
  @apply relative bg-[#f58b49] hover:bg-[#ff9a61] text-white px-10 py-4 rounded-full 
  font-semibold text-lg tracking-wide shadow-[0_0_25px_rgba(245,139,73,0.5)] 
  hover:shadow-[0_0_45px_rgba(245,139,73,0.8)] hover:scale-105 
  transition-all duration-500 overflow-hidden;
}
